GEMINI_API_KEY=your-api-key-here

# Your Local Server (Handles PDF and TTS generation)
LOCAL_MCP_URL=http://127.0.0.1:8000/sse

# Public Jina AI Server (Handles Web Scraping and Search)
JINA_MCP_URL=https://mcp.jina.ai/sse

TARGET_URL=https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/418/







































































# AQ.Ab8RN6I7PtYC6ReiQuta0mf9fpauqBJwCfl0LYM8tS-P1z1ElA-1abc2